.page-title {
	margin-bottom : .75rem;
	text-align    : center;
	font-size     : 2.8rem;
	
	@media (min-width: $breakpoint) {
		margin-bottom : 1rem;
		font-size     : 5rem;
	}
}

.summary-text {
	margin-bottom  : .75rem;
	text-align     : center;
	font-size      : 2.65rem;
	text-transform : uppercase;
	letter-spacing : .005em;
	
	@media (min-width: $breakpoint) {
		margin-bottom  : .25rem;
		font-size      : 4.4rem;
		letter-spacing : .025em;
	}
}